output/gnn_processing_step/format_exports/xsd/actinf_pomdp_agent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gnn_model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model_name" type="xs:string"/>
        <xs:element name="version" type="xs:string"/>
        <xs:element name="annotation" type="xs:string"/>
        <xs:element name="variables" type="variables_type"/>
        <xs:element name="connections" type="connections_type"/>
        <xs:element name="parameters" type="parameters_type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="variables_type">
    <xs:sequence>
      <xs:element name="variable" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="dimensions" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="connections_type">
    <xs:sequence>
      <xs:element name="connection" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="target" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="parameters_type">
    <xs:sequence>
      <xs:element name="parameter" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>