output/3_gnn_output/bnlearn_causal_model/bnlearn_causal_model_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://gnn/models/bnlearn_causal_model"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Generated GNN Schema for: Bnlearn Causal Model
      A Bayesian Network model mapping Active Inference structure:
- S: Hidden State
- A: Action
- S_prev: Previous State
- O: Observation
    </xs:documentation>
  </xs:annotation>

  <xs:element name="gnn_model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="variables">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="A" type="xs:double"/>
              <xs:element name="B" type="xs:double"/>
              <xs:element name="a" type="xs:int"/>
              <xs:element name="o" type="xs:int"/>
              <xs:element name="s" type="xs:double"/>
              <xs:element name="s_prev" type="xs:double"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<!-- MODEL_DATA: {"model_name":"Bnlearn Causal Model","annotation":"A Bayesian Network model mapping Active Inference structure:\n- S: Hidden State\n- A: Action\n- S_prev: Previous State\n- O: Observation","variables":[{"name":"A","var_type":"likelihood_matrix","data_type":"float","dimensions":[2,2]},{"name":"B","var_type":"transition_matrix","data_type":"float","dimensions":[2,2,2]},{"name":"s","var_type":"hidden_state","data_type":"float","dimensions":[2,1]},{"name":"s_prev","var_type":"hidden_state","data_type":"float","dimensions":[2,1]},{"name":"o","var_type":"observation","data_type":"integer","dimensions":[2,1]},{"name":"a","var_type":"action","data_type":"integer","dimensions":[2,1]}],"connections":[{"source_variables":["s_prev"],"target_variables":["s"],"connection_type":"directed"},{"source_variables":["a"],"target_variables":["s"],"connection_type":"directed"},{"source_variables":["s"],"target_variables":["o"],"connection_type":"directed"}],"parameters":[{"name":"A","value":[[0.9,0.1],[0.1,0.9]],"param_type":"constant"},{"name":"B","value":[[[0.7,0.3],[0.3,0.7]],[[0.3,0.7],[0.7,0.3]]],"param_type":"constant"},{"name":"C","value":[[0.0,1.0]],"param_type":"constant"},{"name":"D","value":[[0.5,0.5]],"param_type":"constant"}],"equations":[],"time_specification":{"time_type":"Dynamic","discretization":null,"horizon":null,"step_size":null},"ontology_mappings":[{"variable_name":"A","ontology_term":"ObservationModel","description":null},{"variable_name":"B","ontology_term":"TransitionModel","description":null},{"variable_name":"s","ontology_term":"HiddenState","description":null},{"variable_name":"s_prev","ontology_term":"PreviousState","description":null},{"variable_name":"o","ontology_term":"Observation","description":null},{"variable_name":"a","ontology_term":"Action","description":null}]} -->

</xs:schema>